@use "@angular/material" as mat;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// Define tus colores personalizados
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Define tu tema personalizado
$custom-slider-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

// Incluye los temas de componentes necesarios
@include mat.slider-theme($custom-slider-theme);
@include mat.slide-toggle-theme($custom-slider-theme);


@include mat.core();

  // set fix height to input

  .mat-mdc-form-field {
    height: 43px;
    .mat-mdc-form-field-flex {
      height: 43px;
      align-items: center;
    }
  }

@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

.dark-theme {
  @include mat.all-component-colors($darkbluetheme);
}

// .dark-theme .aqua_theme {
//   @include mat.all-component-colors($darkaquatheme);
// }

.orange_theme {
  @import "themecolors/orange_theme";
  @include mat.all-component-colors($orangetheme);
}

.aqua_theme {
  @import "themecolors/aqua_theme";
  @include mat.all-component-colors($aquatheme);
}

.purple_theme {
  @import "themecolors/purple_theme";
  @include mat.all-component-colors($purpletheme);
}

.green_theme {
  @import "themecolors/green_theme";
  @include mat.all-component-colors($greentheme);
}

.cyan_theme {
  @import "themecolors/cyan_theme";
  @include mat.all-component-colors($cyantheme);
}

//container layout
@import "overrides/materialoverrides";
@import "dark/dark";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";

// horizontal
@import "horizontal/horizontal";

// apps
@import "apps/calendar";
@import "apps/email";

// pages
@import "pages/dashboards";
@import "pages/auth";
@import "pages/landingpage";

// RTL Theme
@import "rtl/rtl";




