
<form [formGroup]="fourthFormGroup">

    <div class="row">

        <div class="col-sm-12 col-12 col-md-6 mt-30" >
            <mat-label class="font f-w-600 m-b-8 d-block">Unidades <b style="color: red; margin-left: 3px;">*</b> </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary"  >
            <input  type="text" matInput class="select w-100 cursor"  [matAutocomplete]="unity" placeholder="Procure aqui" (keyup)="onSearchChange($event)" (blur)="clearSearch()" formControlName="unity">
            <mat-autocomplete #unity="matAutocomplete" (optionSelected)="onUnitySelected($event)">
            <mat-option *ngFor="let option of unitiesOptions | async" [value]="option">
                <span *ngFor="let letter of option.split('')">
                <span *ngIf="searchText.toLowerCase().includes(letter.toLowerCase())"><b>{{ letter }}</b></span>
                <span *ngIf="!searchText.toLowerCase().includes(letter.toLowerCase())">{{ letter }}</span>
                </span>
            </mat-option>
            </mat-autocomplete>

            @if(f['unity'].touched && f['unity'].invalid) {
            <mat-hint class="m-b-16 error-msg">
            @if(f['unity'].errors && f['unity'].errors['required']) {
            <div class="error">Dado obrigatorio.</div>
            } 
            </mat-hint>
            }

            </mat-form-field>
        </div>

        <div class="col-sm-12 col-12 col-md-6 mt-30" >
                <mat-label class="font f-w-600 m-b-8 d-block">Mês de início (cobrança) <b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary"  >
                <input matInput type="text"  formControlName="paymentInitMonth" [ngStyle]="validField('paymentInitMonth') ? {'border':'1px solid red'}:{}" placeholder="mm/aaaa" (blur)="onPaymentMonthSelected()" >
                @if(f['paymentInitMonth'].touched && f['paymentInitMonth'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                @if(f['paymentInitMonth'].errors && f['paymentInitMonth'].errors['required']) {
                <div class="error">  Dado obrigatorio / O formato é mm/aaaa </div>
                } 
                </mat-hint>
                }
    
                </mat-form-field>
        </div>
        
    </div>

    <div class="row mt-30">

        <div class="col-sm-12 col-12 col-md-3" >
            <mat-label class="font f-w-600 m-b-8 d-block"> GV <b style="color: red; margin-left: 3px;">*</b> </mat-label>
            <select class="select w-100 cursor" style="height: 43px;" formControlName="gv" [ngStyle]="validField('gv') ? {'border':'1px solid red'}:{}" (change)="onGVSelected()"  >
            <option *ngFor="let gv of gvs" [ngValue]="gv"> &nbsp; {{ gv }} </option>
            </select>
            <div *ngIf="validField('gv')" class="invalid font fs-10" style="text-align: end;"> Dado obrigatorio </div>
        </div>

        <div class="col-sm-12 col-12 col-md-3" >
            <mat-label class="font f-w-600 m-b-8 d-block"> Reajuste <b style="color: red; margin-left: 3px;">*</b> </mat-label>
            <select class="select w-100 cursor" style="height: 43px;" formControlName="adjustment" [ngStyle]="validField('adjustment') ? {'border':'1px solid red'}:{}" (change)="onReajusteSelected()"  >
            <option *ngFor="let adj of adjustment" [ngValue]="adj"> &nbsp; {{ adj }} </option>
            </select>
            <div *ngIf="validField('adjustment')" class="invalid font fs-10" style="text-align: end;"> Dado obrigatorio </div>
        </div>

        <div class="col-sm-12 col-12 col-md-3">
           <mat-label class="font f-w-600 m-b-8 d-block"> Prazo fixo <b style="color: red; margin-left: 3px;">*</b> </mat-label>
           <mat-checkbox (change)="handleFixedDepositChange('Sim')" [checked]="this.fourthFormGroup.get('fixedDeposit')?.value === 'Sim'"> <span class="font fs-10" >Sim </span></mat-checkbox> &nbsp;&nbsp;
           <mat-checkbox (change)="handleFixedDepositChange('Não')" [checked]="this.fourthFormGroup.get('fixedDeposit')?.value === 'Não'"> <span class="font fs-10" >Não</span></mat-checkbox> &nbsp;&nbsp;
                        

        </div>
        <div class="col-sm-12 col-12 col-md-3" *ngIf="showLastMonthPayment">

            <mat-label class="font f-w-600 m-b-8 d-block"> Mês da última cobrança <b style="color: red; margin-left: 3px;">*</b> </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary"  >
            <input matInput type="text"  formControlName="lastMonthPayment" >
            </mat-form-field>
            <!-- <label class="text w-100 fs-10"> Mês da última cobrança</label>
            <input type="text" class="form-control" formControlName="lastMonthPayment" > -->
        </div>
    </div>

    <div class="border w-100 mt-40"></div>
      
    <div class="row mt-30">

        <div class="col-sm-12 col-12 col-md-4" >
            <mat-label class="font f-w-600 m-b-8 d-block"> Meio de pagamento <b style="color: red; margin-left: 3px;">*</b> </mat-label>
            <select class="select w-100 cursor" style="height: 43px;" formControlName="paymentMethod" (change)="onPaymentMethSelected()" >
            <option *ngFor="let pay of paymentMethods" [value]="pay"> &nbsp; {{ pay }} </option>
            </select>
            <div *ngIf="validField('paymentMethod')" class="invalid font fs-10" style="text-align: end;"> Dado obrigatorio </div>
        </div>
    
    </div>

     <!-- banks -->
    <div class="row mt-3" [ngStyle]="(paymentMethod === 'Conta Bancaria') ? {'display':'block'}:{'display':'none'}">

        <div class="row pd-10">

            <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" #openCanvas></div>

            <div class="col-sm-12 col-12 col-md-6 mt-30" >
                <mat-label class="font f-w-600 m-b-8 d-block">Conta Bancária<b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline"  color="primary"  >
                <input matInput type="text" style="height: 34px; margin-top: 1px;" matInput [matAutocomplete]="bankauto" placeholder="Procure aqui" (keyup)="onSearchChange($event)" (blur)="clearSearch()" formControlName="bankaccount" >
                <mat-autocomplete #bankauto="matAutocomplete" (optionSelected)="onBankSelected($event)">
                    <mat-option *ngFor="let option of bankOptions | async" [value]="option">
                        <span *ngFor="let letter of option.split('')">
                        <span *ngIf="searchText.toLowerCase().includes(letter.toLowerCase())"><b>{{ letter }}</b></span>
                        <span *ngIf="!searchText.toLowerCase().includes(letter.toLowerCase())">{{ letter }}</span>
                        </span>
                    </mat-option>
                    </mat-autocomplete>
                @if(f['bankaccount'].touched && f['bankaccount'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                @if(f['bankaccount'].errors && f['bankaccount'].errors['required']) {
                <div class="error">  Dado obrigatorio / O formato é mm/aaaa </div>
                } 
                </mat-hint>
                }
                
               </mat-form-field>
            <span class="selected font ml-10" (click)="verAccountDrawer()" *ngIf="fourthFormGroup.get('bankaccount')?.value !== ''" > <b>Revisar conta</b> </span>
            </div>

        </div>
        
        <div class="d-flex justify-content-center align-items-center w-100 mt-5" *ngIf="showBankLogo">
            <img  [src]='pathBankLogo' alt="Imagen banco" class="img-fluid" width="120px">
        </div>

        <div class="row pd-10"  *ngIf="showBankLogo">

             <div class="mb-3 mt-3 col-sm-12 col-12 col-md-3 ">
                <label class="text w-100 fs-10">Agencia <b style="color: red; margin-left: 3px;">*</b> </label>
                <input type="text" class="form-control font h-41 mt-5" formControlName="rAgencia" [ngStyle]="validField('rAgencia') ? {'border':'1px solid red'}:{}">
            </div>

            <div class="mb-3 mt-3 col-sm-12 col-12 col-md-3">
                <label class="text w-100 fs-10 ">Núm. Conta <b style="color: red; margin-left: 3px;">*</b> </label>
                <input type="text" class="form-control h-41 mt-5" formControlName="rNr_cc" [ngStyle]="validField('rNr_cc') ? {'border':'1px solid red'}:{}"  >
            </div>

            <div class="mb-3 mt-3 col-sm-12 col-xs-12 col-md-3">
                <label class="text w-100 fs-10">Nome da Agencia  </label>
                <input type="text" class="form-control h-41 mt-5" formControlName="agenciaName" [ngStyle]="validField('agenciaName') ? {'border':'1px solid red'}:{}" (blur)="setAgenciaData()" (keyup.enter)="setAgenciaData()">
            </div>

            <div class="mb-3 mt-3 col-sm-12 col-xs-12 col-md-3">
                <label class="text w-100 fs-10">Endereço </label>
                <input type="text" class="form-control h-41 mt-5" formControlName="agenciaAddress" [ngStyle]="validField('agenciaAddress') ? {'border':'1px solid red'}:{}" (blur)="setAgenciaData()" (keyup.enter)="setAgenciaData()">
            </div>
        
            <div #bankAccount ></div>
        </div>
    </div>

    <!-- credit card -->
    <div class="row" [ngStyle]="(paymentMethod === 'Cartão de Crédito') ? {'visibility':'visible'}:{'visibility':'hidden'}" >

        <div class="col-sm-12 col-12 col-md-6 mt-30" >
                <mat-label class="font f-w-600 m-b-8 d-block">Cartões de crédito <b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary"  >
                <input  type="text" matInput  class="select w-100 cursor" style="height: 34px; margin-top: 1px;" matInput [matAutocomplete]="creditcardauto" placeholder="Procure aqui" (keyup)="onSearchChange($event)" (blur)="clearSearch(); setCreditcardData()" formControlName="creditcard">
                <mat-autocomplete #creditcardauto="matAutocomplete" (optionSelected)="onCreditCardSelected($event)">
                    <mat-option *ngFor="let option of creditcardOptions | async" [value]="option">
                        <span *ngFor="let letter of option.split('')">
                        <span *ngIf="searchText.toLowerCase().includes(letter.toLowerCase())"><b>{{ letter }}</b></span>
                        <span *ngIf="!searchText.toLowerCase().includes(letter.toLowerCase())">{{ letter }}</span>
                        </span>
                    </mat-option>
                    </mat-autocomplete>

                @if(f['creditcard'].touched && f['creditcard'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                @if(f['creditcard'].errors && f['creditcard'].errors['required']) {
                <div class="error">Dado obrigatorio.</div>
                } 
                </mat-hint>
                }

                </mat-form-field>
        </div>

        <div class="col-sm-12 col-12 col-md-6 mt-30" *ngIf="showCreditcardLogo" >
            <img  [src]='pathCreditcardLogo' alt="Imagen cartão" width="100px">
        </div>

        <div class="row mt-3 w-100 pd-20"  *ngIf="showCreditcardLogo">
            <div class="col-sm-12 col-12 col-md-6">
                <mat-label class="font f-w-600 m-b-8 d-block"> Número do cartão <b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary" [ngClass]="{'inputSuccessBorder': numberOK === 'true', 'inputErrorBorder': numberOK === 'false'}" (keyup.enter)="handleBlurNumber()" >
                <input  type="number" matInput  name="cardNumber"  formControlName="cardNumber" (blur)="handleBlurNumber()" >

                <span class="material-icons" style="color: green; position: absolute; top: 17px; transform: translateX(50%); right: 45px;" *ngIf="numberOK === 'true'" >done</span>
    
                    <span class="material-icons" style="color: red; position: absolute; top: 17px; transform: translateX(50%); right: 45px; transform: scale(0.85);" *ngIf="numberOK === 'false'" >close</span>
                <mat-autocomplete #creditcardauto="matAutocomplete" (optionSelected)="onCreditCardSelected($event)">
                    <mat-option *ngFor="let option of creditcardOptions | async" [value]="option">
                        <span *ngFor="let letter of option.split('')">
                        <span *ngIf="searchText.toLowerCase().includes(letter.toLowerCase())"><b>{{ letter }}</b></span>
                        <span *ngIf="!searchText.toLowerCase().includes(letter.toLowerCase())">{{ letter }}</span>
                        </span>
                    </mat-option>
                    </mat-autocomplete>

                @if(f['cardNumber'].touched && f['cardNumber'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                @if(f['cardNumber'].errors && f['cardNumber'].errors['required']) {
                <div class="error">Dado obrigatorio.</div>
                } 
                </mat-hint>
                }

                </mat-form-field>

                <div *ngIf="errorCardNumber.includes('Digite')" class="invalid" style="text-align: end;"> {{errorCardNumber}} </div>
            </div>

            <div class="col-sm-12 col-12 col-md-2">
                <mat-label class="font f-w-600 m-b-8 d-block"> CCV  <b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary"  >
                <input  type="number" matInput class="form-control" style="width: 90px;" formControlName="ccvNumber" min="0" (blur)="checkCCVLength(); setCreditcardData()" (keyup.enter)="checkCCVLength()">
                </mat-form-field>
                <div *ngIf="errorCCV.includes('Digite')" class="invalid" style="text-align: end;"> {{errorCCV}} </div>
            </div>

            <div class="col-sm-12 col-12 col-md-4">
                <mat-label class="font f-w-600 m-b-8 d-block"> Convênios <b style="color: red; margin-left: 3px;">*</b> </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary"  >
                <input  type="text" matInput class="select w-100 cursor" style="height: 34px; margin-top: 1px;" matInput [matAutocomplete]="agreementauto" placeholder="Procure aqui" (keyup)="onSearchChange($event)" (blur)="clearSearch()" formControlName="bankAgreements">
                <mat-autocomplete #agreementauto="matAutocomplete" (optionSelected)="onBankAgreementsSelected($event)">
                    <mat-option *ngFor="let option of bankAgreementsOptions | async" [value]="option">
                        <span *ngFor="let letter of option.split('')">
                        <span *ngIf="searchText.toLowerCase().includes(letter.toLowerCase())"><b>{{ letter }}</b></span>
                        <span *ngIf="!searchText.toLowerCase().includes(letter.toLowerCase())">{{ letter }}</span>
                        </span>
                    </mat-option>
                    </mat-autocomplete>
    
                @if(f['bankAgreements'].touched && f['bankAgreements'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                @if(f['bankAgreements'].errors && f['bankAgreements'].errors['required']) {
                <div class="error">Dado obrigatorio.</div>
                } 
                </mat-hint>
                }
    
                </mat-form-field>
            </div>
        </div>

        <div #creditcard ></div>
    
    </div>

    <div class="row border" [ngStyle]="(paymentMethod === 'Boleto') ? {'visibility':'visible'}:{'visibility':'hidden'}">
    </div>

</form>  
