

  .mat-column-action {
    text-align: center;
  }

  td{
  font-family: 'poppins-regular';
  font-size: 0.85em;
}

th{
  font-family: 'poppins-regular';
  font-size: 1em;
  font-weight: bold;
}

.table-container {
  overflow-x: auto;
  width: 80%;
}

.mat-elevation-z8{
  overflow-x: auto;
  width: 100%;

}
