<div class="row pd-20">


  <div class="mat-elevation-z8 pd-10" style="border-radius: 7px;">

        
        <div class="d-flex justify-content-between align-items-center w-100">

            <mat-form-field appearance="outline" color="primary" class="mt-20">
                <input matInput placeholder="Procurar aqui" (keyup)="applyFilter($event)" />
              </mat-form-field>

            <button  type="button" mat-flat-button  color="primary" class="font fs-10 shadow" (click)="openModalNewUser()"  >
                <i class="fas fa-plus "></i> &nbsp; Novo
            </button>
        </div>

        <table mat-table [dataSource]="dataSource" matSort  >

            <ng-container matColumnDef="img" >
                <th mat-header-cell *matHeaderCellDef  > Img </th>
                <td mat-cell *matCellDef="let user"> 
                    <img [src]="user.filePath | imagenPath" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="user.filePath && user.filePath !== ''"> 
                    <img src="assets/images/no-image.jpg" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="!user.filePath || user.filePath === ''"> 
                </td>
              </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Nome </th>
                <td mat-cell *matCellDef="let user"> 
                    <span *ngIf="user.Nome_Completo !== '' " class="selected" [routerLink]="['/painel/editar-usuario/', user.iduser]" >
                        {{ user.Nome_Completo}}  </span> 
                </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                <td mat-cell *matCellDef="let user"> {{ user?.Email}}  </td>
              </ng-container>

              <ng-container matColumnDef="propulsao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Propulsao </th>
                <td mat-cell *matCellDef="let user"> {{ user?.propulsao_name}}</td>
              </ng-container> 
                  
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let user"> {{ user?.role}}</td>
              </ng-container>
                  
              <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
                <td mat-cell *matCellDef="let user"> 
                    <span class="material-icons" style="color: rgb(0, 195, 0);" *ngIf="user?.active">task_alt</span>
                    <span class="material-icons" style="color: red;" *ngIf="!user?.active">highlight_off</span>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

  </div>

    <div class="loading-overlay" *ngIf="isLoading">
        <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
          <mat-spinner></mat-spinner>
        </div>
      </div> 
      
      
        
  
  
  