.pdfSelection.card:hover{
    /* border: 2px solid rgb(0, 136, 255, 0.2); */
    
    transition: opacity 3s ease;
    box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.3) !important;
  
  }
  .contextual-menu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0px 0px 5px 0px #000000;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
  }
  .custom-size-viewer {
    max-width: 600px;
    height: 350px;
    overflow-y: hidden;
    overflow-x: hidden;
  }  

  .card-container {
    flex: 1 1 25%; /* Ajusta el tamaño según sea necesario */
    margin: 10px; /* Asegura el mismo margen para todas las tarjetas */
    min-width: 150px; /* Evita que las tarjetas sean demasiado pequeñas */
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto total */
    margin-bottom: 100px;
  }