.select{
    height: 36px; 
    border-color: rgb(207, 207, 207); 
    font-size: 1em; 
    font-family: 'poppins-regular'; 
    // color: gray;
    padding: 10px;
    
  }

  mat-option{
    font-size: 1em; 
    font-family: 'poppins-regular'; 
    height: 30px !important;
  }

  mat-option:hover{
    background-color: rgb(0, 106, 255) !important;
    color: white;
  }

  option{
    font-size: 1em; 
    font-family: 'poppins-regular'; 
    cursor: pointer;
    margin-top: 5px;
  }

  td{
    font-size: 1em;
  }

  .delete{
    text-align: center; 
    font-size: 22px; color: red; 
    margin-left: 5px;  
    cursor: pointer;
  }
  
  .delete:hover{
    filter: drop-shadow(0px 0px 14px red);
    transform: scale(1.05);
  }

  .add{
    text-align: center; 
    font-size: 22px; color: green; 
    margin-left: 5px;  
    cursor: pointer;

  }
  
  .add:hover{
    filter: drop-shadow(0px 0px 14px green);
    transform: scale(1.05);
  }

  .hovering{
    background-color: rgb(241, 241, 241);
    padding: 10px; 
    border-bottom: 1p solid; 
    border-top: 1px solid;
  }
  
  .hovering:hover{
    background-color: white;
  }

  .mat-step-header {
    pointer-events: none !important;
}

.selectedTD{
  background-color: #38bd1a;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
 