
.login-page{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecef;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  opacity: 0.87;
  border-radius: 10px;
  height: 300px;
  width: 100%;
}


@media (max-width: 576px) {
  
}

   @media (min-width: 576px) {
  
    
   }