


<div class="login-page font" [style.backgroundImage]="'url(' + backgroundImage + ')'" style="height: 100vh;">
  <!-- <div class="col-sm-5 col-xs-5 col-md-4 border"> -->

  <div class="row justify-content-center w-100">

    <div class="login-box col-sm-12 col-md-12 col-10">

        <h4 class="f-w-700 f-s-24 m-0">Recuperar senha</h4>

        <form class="m-t-30 w-100" [formGroup]="myForm" (ngSubmit)="reSendEmailPassword()" >
       
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block" style="font-family: poppins-regular !important;"
            >E-mail</mat-label >
          <mat-form-field appearance="outline" class="w-100" color="primary" >
            <input matInput type="text" formControlName="email" style="font-family: poppins-regular !important; " />
            @if(f['email'].touched && f['email'].invalid) {
            <mat-hint class="m-b-16 error-msg">
              @if(f['email'].errors && f['email'].errors['required']) {
              <div class="text-error">campo requerido.</div>
              } 
            @if(f['email'].errors && f['email'].errors['pattern']) {
              <div class="text-error font fs-9">Não possui um formato de e-mail válido.</div>
              }
            
            </mat-hint>
            }
          </mat-form-field>

          <div class="d-flex align-items-center ">
      
            <a  [routerLink]="['/autenticacao/login']"  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14 mt-20"
              >login</a>
          </div>
          <button  type="submit" mat-flat-button  color="primary" class="w-100 mt-10"  >
            Enviar
          </button>
        </form>
    
    </div>
  </div>
</div>



      <!-- no verified email -->
  <div id="custom-toast" class="alert alert-warning alert-dismissible shadow animate__animated animate__fadeIn font" *ngIf="noVerified">
    <button type="button" class="close"#closeNoVerifiedEmail  data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-exclamation-triangle"></i> Email não verificado!</h5>
    <span class="fs-11 w-100" >Já enviamos um email de confirmação. Precisa que enviemos novamente?</span>


  </div>

  
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
      <span class="sr-only">Loading...</span>
    </div>
  </div> 

      