<div class="row pd-20">

    <div class="mat-elevation-z8 mt-20 pd-20">
          
      <div class="d-flex justify-content-between align-items-center w-100">
  
          <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Procurar aqui" (keyup)="applyFilter($event)" />
            </mat-form-field>
  
          <button  type="button" mat-flat-button  color="primary" class="font fs-10 shadow" (click)="openModalNewSegmentation()"  >
              <i class="fas fa-plus "></i> &nbsp; Novo
          </button>
      </div>
  
      <table mat-table [dataSource]="dataSource" matSort   >
  
          <ng-container matColumnDef="name" >
              <th mat-header-cell *matHeaderCellDef  mat-sort-header > Nome </th>
              <td mat-cell *matCellDef="let email" class="selected " (click)="editSegmentation(email)"> 
                  {{ email.name }}
             </td>
            </ng-container>

  
          <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Descrição </th>
              <td mat-cell *matCellDef="let email"> 
                   {{ email.description }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="propulsao">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Propulsões </th>
              <td  mat-cell *matCellDef="let email" >
                  {{ email.propulsao_name.join(',  ') }}
              </td>
            </ng-container> 
                
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td  mat-cell *matCellDef="let email">
                  <div class="d-flex justify-content-center align-items-center " >
                      <span class="material-icons edit"  (click)="editSegmentation(email)" [matTooltip]="'Editar email'">edit</span>
                      <span class="material-icons  delete"  [matTooltip]="'Excluir email'" (click)="onRemove(email)">delete</span>
                      <span class="material-icons cursor add"  [matTooltip]="'Adicionar email'" (click)="assignPropulsao(email)" *ngIf="loggedUser.role === 'webmaster'">lan</span>
                  </div>
  
                </td>
            </ng-container>
                
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
      <br>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    
  </div>
    
  